.aboutContainer {
    text-align: left;
}

.aboutContainer > .HStack {
    height: min(8rem, 20vw);
}

.aboutProfileImage::before {
    content: "";
    display: inline-block;
    background-image: url("images/d30f6013_s.jpeg");
    background-repeat: no-repeat;
    background-size: min(8rem, 20vw);
    clip-path: circle(50%);
    width: min(8rem, 20vw);
    height: min(8rem, 20vw);
}

.aboutText {
    position: relative;
    width: 100%;
    height: min(8rem, 20vw);
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: min(2rem, 5vw);
}

.aboutTitle {
    font-weight: 500;
    margin: 0;
}

.aboutEmail {
    font-size: medium;
}

@media (max-width: 25rem) {
    .aboutTitle {
        font-size: x-large;
    }
}

@media (max-width: 18rem) {
    .aboutTitle {
        font-size: large;
    }
}

@media (orientation: portrait) {
    .aboutContainer {
        width: 87.5vw;
    }

    .aboutProfileImage {
        margin-left: 1rem;
    }
}

@media (orientation: landscape) {
    .aboutContainer {
        width: 70vw;
    }

    .aboutContent {
        margin-left: 10rem;
        margin-right: 2rem;
    }
}
