:root {
    --employerLogoLufthansaFg: #fff;
    --employerLogoLufthansaBg: #05164d;
    /* --employerLogoLufthansaFa: #ffaD00; */
}

.aboutContainer {
    text-align: left;
}

.aboutContainer > .HStack {
    height: min(8rem, 20vw);
}

.aboutProfileImage::before {
    content: "";
    display: inline-block;
    background-image: url("images/d30f6013_s.jpeg");
    background-repeat: no-repeat;
    background-size: min(8rem, 20vw);
    clip-path: circle(50%);
    width: min(8rem, 20vw);
    height: min(8rem, 20vw);
}

.aboutText {
    position: relative;
    width: 100%;
    height: min(8rem, 20vw);
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: min(2rem, 5vw);
}

.aboutTitle {
    font-weight: 500;
    margin: 0;
}

.aboutEmail {
    font-size: medium;
}

.employmentList {
    justify-content: start;
}

.employmentItem {
    margin-top: 0.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.25rem;
    justify-content: left;
    border-top: 1px solid var(--uiElementPrimary);
}

.employmentItem:last-of-type {
    padding-bottom: 0.75rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid var(--uiElementPrimary);
}

.employmentItem > div {
    justify-content: start;
}

.employmentItem > div > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.employmentItem > div > div > span:nth-of-type(even) {
    text-align: right;
}

.employmentItem > div > div:first-of-type > span {
    font-weight: 600;
    font-size: larger;
}

.employmentItem > div > div:first-of-type + div {
    /* font-weight: 500; */
    margin-bottom: 1rem;
}

.companyLogo {
    height: 5rem;
    width: 5rem;
    margin-right: 1rem;
    clip-path: circle(50%);
}

.lufthansaLogo {
    background-color: var(--employerLogoLufthansaBg);
    transition: all ease-out 0.5s;
}

/* .lufthansaLogo:hover {
    background-color: var(--employerLogoLufthansaFa);
    transition: all ease-out 0.5s;
} */

.lufthansaLogo::after {
    content: "";
    width: 5rem;
    height: 5rem;
    position: absolute;
    background-color: var(--employerLogoLufthansaFg);
    mask-image: url("./lufthansa.svg");
    mask-size: 4rem;
    mask-position: center;
    mask-repeat: no-repeat;
    transition: all ease-out 0.5s;
}

/* .lufthansaLogo:hover::after {
    background-color: var(--employerLogoLufthansaBg);
    mask-size: 4.125rem;
    transition: all ease-out 0.5s;
} */

.scrollFooter {
    position: relative;
    top: 2.5rem;
    margin-bottom: 0rem;
}

@media (max-width: 25rem) {
    .aboutTitle {
        font-size: x-large;
    }
}

@media (max-width: 18rem) {
    .aboutTitle {
        font-size: large;
    }
}

@media (orientation: portrait) {
    .aboutContainer, .employmentList, .employmentItem {
        width: 87.5vw;
    }

    .aboutProfileImage {
        margin-left: 1rem;
    }

    .employmentItem > div {
        width: 87.5vw;
    }

    .companyLogo {
        display: none;
    }

    .scrollFooter {
        top: 2rem;
        margin-bottom: 3.5rem;
    }

    @media (min-width: 700px) {
        .companyLogo {
            display: unset;
        }

        .employmentItem > div {
            width: calc(87.5vw - 6rem);
        }
    }
}

@media (orientation: landscape) {
    .aboutContainer {
        width: 70vw;
    }

    .aboutContent {
        margin-left: 10rem;
        margin-right: 2rem;
    }

    .employmentList, .employmentItem {
        width: calc(60vw - 2rem);
    }

    .employmentItem > div {
        width: calc(60vw - 8rem);
    }

    @media (max-width: 950px) {
        .scrollFooter {
            margin-bottom: 2rem;
        }
    }
}
