:root {
    /* r.i.p. #024 */
    --backgroundColor: #1e1e1f;
    --uiElementPrimary: #fbf1c7;
    --linkColor: #2997ff;
    --languageColorSwift: #f05138;
    --languageColorRust: #dea584;
    --languageColorTypescript: #3178c6;
    --languageColorCLangs: #f34b7d;
    --languageColorJava: #ff9725;
    --languageColorShell: #89e051;
    --nyuColor: #7e0acb;
    --gitColor: #f03c2e;
    --appStoreColor: #01abf0;
    --textColorPrimary: color-mix(in srgb, var(--uiElementPrimary) 65%, #fff 35%);
    --backgroundAccent: color-mix(in srgb, var(--backgroundColor) 90%, var(--uiElementPrimary) 10%);
}

@font-face {
    font-family: 'Figtree';
    src: url('fonts/Figtree.ttf') format('truetype');
    font-display: swap;
}

body {
    display: flex;
    width: 100vw;
    margin: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--textColorPrimary);
    background-color: var(--backgroundColor);
    font-family: "Figtree", -apple-system, BlinkMacSystemFont, sans-serif;
}

.container {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.VStack {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.HStack {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ZStack {
    display: block;
}

.VStackCenter {
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.justifyCenter {
    justify-content: center;
    align-items: center;
}

.projectContent {
    justify-content: flex-start;
    align-items: center;
    margin-top: 1vw;
}

.centerWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.paragraphCaption {
    margin: 0;
}

.itemGrid {
    display: grid;
    width: 100%;
}

.base64Grid, .projectGrid {
    column-gap: 10px;
    row-gap: 15px;
    grid-template-columns: repeat(2, 45vw);
    -webkit-column-gap: 10px;
}

.base64Grid > .ZStack, .projectGrid > .ZStack {
    background-color: var(--backgroundAccent);
    border: 2px solid var(--uiElementPrimary);
    border-radius: 15px;
}

.itemTitleContainer {
    position: relative;
    top: calc(-1rem - 3px);
    left: -1px;
    height: 1.5rem;
    border: 2px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: var(--uiElementPrimary);
}

.toolTitle {
    font-weight: 500;
    color: var(--backgroundColor);
    text-transform: uppercase;
}

.projectTitle {
    font-weight: 500;
    color: var(--backgroundColor);
}

.innerTileRow {
    justify-content: space-evenly;
}

.innerTile {
    position: relative;
    top: -1rem;
}

.innerTileRow > p {
    text-align: left;
}

.pageTitle {
    font-weight: 500;
}

.name {
    font-size: 3.25rem;
    font-weight: 500;
    margin-top: 0;
    margin: 0 .5rem;
}

.location {
    margin-top: 0.35rem;
    margin-bottom: 0;
}

.highLevelAbout {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 1rem 0;
}

.languageList, .tagList {
    font-size: 0.9rem;
    margin: 0.3rem 0;
    /* height: 1.9rem; */
}

.pill {
    padding: 0.3125rem 0.5rem;
    border-radius: 15px;
    height: 1.15rem;
    color: var(--backgroundColor);
    margin: 0.25rem;
    transition: ease-in all 0.1s;
}

.pill:hover, .pill:active {
    box-shadow: 0.15rem 0.15rem 0.75rem var(--backgroundAccent);
    padding: 0.375rem 0.5625rem;
    margin: 0.1875rem;
}

.bigPill {
    padding: 0.625rem 1rem;
    height: 2.1rem;
    margin: 0.5rem;
    font-size: 1.6rem;
    background-color: var(--backgroundAccent);
    width: 25rem;
    max-width: calc(94vw - 2rem);
}

.bigPill > a, .bigPill > a:visited {
    color: color-mix(in srgb, var(--textColorPrimary) 95%, var(--backgroundColor) 5%) !important;
    text-decoration: dotted underline;
}

.bigPill > a:focus, .bigPill > a:hover {
    color: color-mix(in srgb, var(--textColorPrimary) 70%, var(--backgroundAccent) 30%) !important;
    text-decoration: dashed underline;
}

.bigPill > a:active {
    color: color-mix(in srgb, var(--textColorPrimary) 30%, var(--backgroundAccent) 70%) !important;
    text-decoration: double underline;
}

.bigPill:hover, .bigPill:active {
    padding: 0.625rem 1rem;
    margin: 0.5rem;
}

.projectImage {
    border-radius: 15px;
    padding-top: 0;
    margin-bottom: 0.5rem;
}

.projectInfo {
    text-align: left;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    overflow-y: scroll;
    background-color: var(--backgroundColor);
    border-radius: 15px;
    margin-top: 0.75rem;
}

.swift {
    background-color: var(--languageColorSwift);
}

.rust {
    background-color: var(--languageColorRust);
}

.typescript {
    background-color: color-mix(in srgb, var(--languageColorTypescript) 80%, var(--textColorPrimary) 20%);
}

.cLangs {
    background-color: var(--languageColorCLangs);
}

.java {
    background-color: var(--languageColorJava);
    border-color: var(--languageColorJava);
}

.shell {
    background-color: var(--languageColorShell);
}

.other {
    background-color: var(--uiElementPrimary);
}

.nyuPill {
    background-color: var(--nyuColor);
    color: var(--textColorPrimary);
}

.nyuPill::before, .gitPill::before, .appStorePill::before {
    content: "";
    position: relative;
    left: -0.2rem;
    width: 1.4rem;
    height: 1.4rem;
    margin: 0;
    margin-right: 0.125rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.nyuPill::before {
    top: 0.3125rem;
    background-image: url("./torch.svg");
    background-size: 1.525rem;
}

.nyuPill::after {
    content: "NYU Tandon '29";
}

.gitPill {
    background-color: color-mix(in srgb, var(--gitColor) 85%, var(--textColorPrimary) 15%);
}

.gitPill::before {
    background-image: url("./git.svg");
    background-size: 1.2rem;
}

.gitPill > a, .appStorePill > a {
    position: relative;
    top: -0.5rem;
}

.appStorePill {
    background-color: var(--appStoreColor);
}

.appStorePill::before {
    background-image: url("./apple.svg");
    background-size: 1.2rem;
    margin-right: 0;
    top: -0.1rem;
}

.openPill {
    background-color: var(--uiElementPrimary);
    color: var(--backgroundColor);
}

.openPill::before {
    content: "[↗]";
}

.ossPill, .oshwPill {
    background-color: var(--backgroundColor);
    color: var(--uiElementPrimary);
}

.ossPill::after {
    content: "OSS";
}

.oshwPill::after {
    content: "OSHW";
}

a, a:visited {
    color: var(--linkColor);
    text-decoration: none;
}

a:focus, a:hover {
    color: color-mix(in srgb, var(--linkColor) 25%, var(--textColorPrimary) 75%);
    text-decoration: underline dotted;
}

a:active {
    color: var(--textColorPrimary);
    text-decoration: underline dashed;
}

.endMargin {
    margin-bottom: calc(5vw - 10px);
}

.navCheck {
    position: absolute;
    top: -999999px;
    left: -999999px;
}

.bottomToolbar {
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 3;
    transform: translateZ(3);
    background-color: #fbf1c7dd;
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    border-radius: 15px;
    transition: ease-in all 0.15s;
    box-shadow: 0px 0px 0.25rem var(--uiElementPrimary);
    backdrop-filter: blur(0.25rem);
}

.bottomToolbar > svg:first-of-type {
    display: unset;
    position: absolute;
    top: unset;
    right: 0.75rem;
    bottom: 0.75rem;
    left: unset;
    width: 2.5rem;
}

.bottomToolbar > svg:last-of-type {
    display: none;
}

.navMenuContent {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    visibility: hidden;
    opacity: 0;
    justify-content: flex-start;
    width: 18em;
    height: 18em;
    max-width: calc(100vw - 6rem);
    max-height: 80vh;
    z-index: 2;
    transform: translateZ(2);
    text-align: left;
    color: var(--backgroundColor);
    background-color: #fbf1c7cc;
    border-radius: 15px;
    border-bottom-right-radius: 2rem;
    transition: ease-in all 0.15s;
    box-shadow: 0px 0px 0.25rem var(--textColorPrimary);
    backdrop-filter: blur(0.25rem);
}

.navMenuContent > div {
    margin: 0rem 1rem;
}

.navCheck:checked + div > .bottomToolbar {
    border-radius: 2rem;
}

.navCheck:checked + div > .bottomToolbar > svg:first-of-type {
    display: none;
}

.navCheck:checked + div > .bottomToolbar > svg:last-of-type {
    display: unset;
    position: absolute;
    top: unset;
    right: 0.75rem;
    bottom: 0.75rem;
    left: unset;
    width: 2.5rem;
}

.darkLink, .darkLink:visited {
    color: var(--backgroundColor);
    text-decoration: dashed underline;
}

.darkLink:hover {
    color: color-mix(in srgb, var(--backgroundColor) 70%, var(--textColorPrimary) 30%);
}

.darkLink:active {
    color: color-mix(in srgb, var(--backgroundColor) 30%, var(--textColorPrimary) 70%);
    text-decoration: solid underline;
}

.navMenuContent > div > a {
    display: none;
    font-size: 1.5rem;
    margin: 0.75rem 0;
}

.navCheck:checked + div > .navMenuContent {
    visibility: visible;
    opacity: 1;
    transition: ease-in visibility 0.15s;
}

.navCheck:checked + div > .navMenuContent > div > a {
    display: unset;
}

.HStack.iconHolder {
    width: 15rem;
}

.iconHolder {
    margin-bottom: 1.5rem;
}

.iconLinkItem {
    width: 6rem;
}

.iconLinkItem > a > svg {
    width: 2.5rem;
}

.container.VStackCenter {
    height: calc(100vh - 3rem);
    min-height: 24rem;
}

.container.VStackFillCenter {
    height: 100%;
}

@media (max-width: 21.5rem) {
    .languageList:last-of-type {
        margin-top: 2.325rem !important;
    }
}

@media (max-width: 18rem) {
    .navMenuContent > div > a {
        font-size: 1rem;
    }
}

@media (max-width: 15rem) {
    .HStack.iconHolder {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
    }

    .nyuPill::after {
        content: "NYU '29";
    }
}

@media (max-width: 11rem) {
    .languageList:last-of-type {
        margin-top: 4.65rem !important;
    }
}

@media (max-width: 10rem) {
    .nyuPill::before {
        content: "";
        background: none;
        width: 0;
        left: 0;
    }

    .navMenuContent {
        width: 19.5rem;
        max-width: calc(100vw - 4rem);
    }
}

@media (max-width: 8rem) {
    .nyuPill::after {
        content: "NYU";
    }
}

@media (max-width: 7.5rem) {
    .languageList:last-of-type {
        margin-top: 6.975rem !important;
    }
}

@media (orientation: portrait) {
    .base64Grid, .projectGrid {
        grid-template-columns: repeat(1, 90vw);
    }

    .itemTitleContainer {
        width: calc(100% + 2px);
    }

    .base64Grid > .ZStack {
        width: 90vw;
        height: 60vw;
    }

    .base64Grid > .ZStack > .innerTile {
        height: calc(60vw - 2rem);
    }

    .projectGrid > .ZStack {
        width: 90vw;
        height: calc(50vw + (850px / 100vw) * 40vw);
        min-height: 35rem * (1 + (100vh / 150vw));
        min-width: 18rem;
    }

    .projectGrid > .ZStack > .innerTile {
        height: calc(50vw - 2rem + (850px / 100vw) * 40vw);
        min-height: 35rem * (1 + (100vh / 150vw));
    }

    .projectImage {
        width: calc(90vw - 2rem);
        min-width: 15rem;
    }

    .projectInfo {
        width: calc(90vw - 3rem);
        min-width: 16rem;
        height: calc(50vw - 1.9rem - 0.5rem - ((90vw - 2rem) / 1.778) + ((850px / 100vw) * 30vw));
        min-height: 15rem * (1 + (100vh / 150vw));
    }

    .innerTileRow > button, .innerTileRow > textarea, .innerTileRow > p, .innerTileRow > .VStack, .innerTileRow > input, .innerTileRow > img {
        width: calc(0.4 * 90vw);
    }

    .innerTileRow > textarea {
        height: calc(0.7 * (60vw - 10rem - 4px));
    }
}

@media (orientation: landscape) {
    .base64Grid, .projectGrid {
        grid-template-columns: repeat(2, 45vw);
    }

    .itemTitleContainer {
        width: calc(100% + 2px);
    }

    .base64Grid > .ZStack {
        width: calc(45vw - 10px);
        height: 30vw;
    }
    
    .base64Grid > .ZStack > .innerTile {
        height: calc(30vw - 2rem);
    }

    .projectGrid > .ZStack {
        width: calc(45vw - 10px);
        height: calc(13.5vw + ((1500px / 100vw) * 27.5vw));
        min-height: 30rem * (1 + (100vh / 150vw));
    }

    .projectGrid > .ZStack > .innerTile {
        height: calc(13.5vw - 2rem + ((1500px / 100vw) * 27.5vw));
        min-height: 28rem * (1 + (100vh / 150vw));
    }

    .projectImage {
        width: calc(45vw - 10px - 2rem);
    }

    .projectInfo {
        width: calc(45vw - 10px - 3rem);
        height: calc(18vw - 1.9rem - 0.5rem - ((45vw - 10px - 2rem) / 1.778) + ((1500px / 100vw) * 27.5vw));
    }

    @media (max-width: 950px) {
        .projectGrid {
            grid-template-columns: repeat(1, 90vw);
        }

        .projectGrid > .ZStack {
            width: 90vw;
            height: 75vw;
        }

        .projectGrid > .ZStack > .innerTile {
            height: calc(75vw - 2rem);
        }

        .projectImage {
            width: calc(90vw - 2rem);
        }

        .projectInfo {
            width: calc(90vw - 3rem);
            height: calc(75vw - 1.9rem - 0.5rem - ((90vw - 2rem) / 1.778));
        }
    }

    .innerTileRow > button, .innerTileRow > textarea, .innerTileRow > p, .innerTileRow > .VStack, .innerTileRow > input, .innerTileRow > img {
        width: calc(0.4 * (45vw - 10px));
    }

    .innerTileRow > textarea {
        height: calc(0.7 * (30vw - 10rem - 4px));
    }

    @media (max-width: 749px) {
        .bottomToolbar, .navMenuContent {
            top: 2vw;
            right: 2vw;
        }

        .topDesktop {
            margin: 2vw 0;
        }
    }

    @media (min-width: 750px) and (max-width: 999px) {
        .bottomToolbar, .navMenuContent {
            top: 3rem;
            right: 3rem;
        }

        .topDesktop {
            margin: 3rem 0;
        }
    }

    @media (min-width: 1000px) {
        .bottomToolbar, .navMenuContent {
            top: 5rem;
            right: 5rem;
        }

        .topDesktop {
            margin: 5rem 0;
        }
    }

    .bottomToolbar:hover {
        border-radius: 2rem;
    }

    .navMenuContent {
        border-bottom-right-radius: 15px;
        border-top-right-radius: 2rem;
        padding-top: 4rem;
        height: 13.5em;
    }

    .navMenuContent:last-child {
        margin-bottom: 0;
    }

    .navMenuContent.noScrollDesktop, .bottomToolbar.noScrollDesktop {
        position: absolute;
    }
}

/* top right bottom left */